* {
    margin: 0;
    padding: 0;
}


@media (max-width: 320px) {
    /* .container {
        width: 95%;
        max-width: 320px;
        margin: 0 auto;
    } */

    .title {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 290px;
        height: 150px;
        text-align: center;
    }

    .background-mobile {
        display: block;
    }

    .background-tablet {
        display: none;
    }

    .background-desktop {
        display: none;
    }

    .rows {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .col1 {
        width: 290px;
        height: 100px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .polygon {
        width: 100px;
        left: 500px;
        top: 800px;
        transform: rotate(270deg);
    }

    .svg-1 {
        justify-content: center;
    }

    .col3 {
        width: 290px;
        height: 291px;
        left: 405px;
        top: 1100px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .col4 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 123.88%;
    }

    .footer {
        max-width: 1920px;
        height: 120px;
        left: 0px;
        top: 1646px;
        background: rgba(220, 220, 220, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .footer-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-top p {
        justify-content: space-between;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
}

@media (min-width: 321px) and (max-width: 719px) {
    .container {
        width: 95%;
        max-width: 1920px;
        margin: 0 auto;
    }

    .title {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .background-mobile {
        display: none;
    }

    .background-tablet {
        display: block;
    }

    .background-desktop {
        display: none;
    }

    .rows {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .col1 {
        width: 350px;
        height: 200px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .polygon {
        width: 100px;
        left: 500px;
        top: 800px;
        transform: rotate(270deg);
    }

    .svg-1 {
        justify-content: center;
    }

    .col3 {
        width: 540px;
        height: 160px;
        left: 405px;
        top: 1100px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .col4 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 123.88%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 123.88%;
    }

    .footer {
        max-width: 1920px;
        height: 120px;
        left: 0px;
        top: 1646px;
        background: rgba(220, 220, 220, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .footer-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-top p {
        justify-content: space-between;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
}

@media (min-width: 720px) {
    .container {
        width: 95%;
        max-width: 1920px;
        margin: 0 auto;
    }

    .title {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    .background-mobile {
        display: none;
    }

    .background-tablet {
        display: none;
    }

    .background-desktop {
        display: block;
    }

    .rows {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .col1 {
        width: 350px;
        height: 200px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .polygon {
        width: 100px;
        left: 500px;
        top: 800px;
        transform: rotate(270deg);
    }

    .svg-1 {
        justify-content: center;
    }

    .col3 {
        width: 540px;
        height: 160px;
        left: 405px;
        top: 1100px;
        background: #FFFFFF;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .col4 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 123.88%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 123.88%;
    }

    .footer {
        max-width: 1920px;
        height: 120px;
        left: 0px;
        top: 1646px;
        background: rgba(220, 220, 220, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .footer-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-top p {
        justify-content: space-between;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
}



/* .container-image {
    position: relative;
    width: 100%;
} */

/* .btn {
    background: #F16529;
    position: absolute;
    width: 290px;
    height: 32px;
    left: 15px;
    top: 203px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130.08%;
    color: rgba(255, 255, 255, 1)
        /* identical to box height, or 21px */